td {
  height: 25px;
  width: 25px;
  transition: background-color 0.35s ease;
  /* Controls color of cells*/
  /* background-color: #e6f9ff; */
  background-color: white;
}

td #startNodeIcon {
  display: block;
  margin: auto;
}

#startNodeIcon {
  font-weight: bold;
  /* font-size: 1.45rem; */
}

td #endNodeIcon {
  display: block;
  margin: auto;
  /* font-size: 1.45rem; */
  color: #d12300;
}

.keybox #startKeyIcon {
  display: block;
  margin: auto;
  margin-top: 0.2rem;
  /* font-size: 1.45rem; */
}

.keybox #endKeyIcon {
  display: block;
  margin: auto;
  margin-top: 0.2rem;
  /* font-size: 1.45rem; */
  color: #d12300;
}

table {
  /* Controls color of outlines*/
  /* 006280 */
  background-color: #dbe9f4;
  border-spacing: 1px;
}

/* types */
.wall {
  background-color: #36496a;
}
.start {
  background-color: white;
}
.end {
  background-color: white;
}

/* statuses */
.visited {
  background-color: #8fb8d7;
  /* background-color: #00B383;
  background-color: #00B0E6; */
}
.start.visited {
  background-color: #8fb8d7;
  /* background-color: #00B383;
  background-color: #00B0E6; */
}
.end.visited {
  background-color: #8fb8d7;
  /* background-color: #00B383;
  background-color: #00B0E6; */
}
.wall.visited {
  background-color: #36496a;
}

.shortestPath {
  background-color: #ffe017;
}
.start.shortestPath {
  background-color: #ffe017;
}
.end.shortestPath {
  background-color: #ffe017;
}
.wall.shortestPath {
  background-color: #36496a;
}

/* GridKey Component */
.gridKey {
  display: flex;
  justify-content: space-evenly;
}

.keyitem {
  display: flex;
  justify-content: center;
  align-items: center;
}
.keyitem h3 {
  font-size: 1rem;
}

.keybox {
  height: 25px;
  width: 25px;
  border: 1px solid #dbe9f4;
  margin-right: 1rem;
}

#playAlgo {
  color: #36496a;
  margin: 1rem;
}
#playAlgo:hover {
  color: #3c7aa9;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
