td {
  height: 75px;
  width: 75px;
  transition: background-color 0.35s ease;
  /* Controls color of cells*/
  background-color: #e6f9ff;
}

table {
  /* Controls color of outlines*/
  background-color: #006280;
  border-spacing: 1px;
}

.wall {
  background-color: black;
}




