:root {
  --td-bg-color: white;
  --end-node-color: red;
  --table-bg-color: #dbe9f4;
  --water-color: #0f52ba;
  --visited-initial: #ffe017;
  --visited-final: #12aeed;
  --shortest-Path: #ffe017;
  --hover-buttons: #12aeed;
  /* --field-color: #f5deb3;
  --brush-color: #c19a6b;
  --woods-color: green;
  --forest-color: #195905;
  --foothill-color: #738276;
  --mountain-color: #36454f; */
}

body {
  color: white;
  background-color: black;
}

table,
tr,
td {
  border: 1px inset black;
  border-collapse: collapse;
  border-spacing: 1px;
}

td {
  height: 100px;
  width: 100px;
  transition: background-color 0.35s ease;
  /* Controls color of cells*/
  /* background-color: #e6f9ff; */
  /* background-color: var(--td-bg-color); */
  background-image: url(/public/[1]field.png);
  background-size: contain;
}

td #startNodeIcon {
  display: block;
  margin: auto;
}

#startNodeIcon {
  font-weight: bold;
  /* font-size: 1.45rem; */
}

td #endNodeIcon {
  display: block;
  margin: auto;
  /* font-size: 1.45rem; */
  color: var(--end-node-color);
}

.keybox #startKeyIcon {
  display: block;
  margin: auto;
  margin-top: 0.2rem;
  /* font-size: 1.45rem; */
}

.keybox #endKeyIcon {
  display: block;
  margin: auto;
  margin-top: 0.2rem;
  /* font-size: 1.45rem; */
  color: var(--end-node-color);
}

table {
  /* Controls color of outlines*/
  /* 006280 */
  background-color: var(--table-bg-color);
  border-spacing: 1px;
}

/* types */
.brush {
  background-image: url(/public/[2]brush.png);
}
.woods {
  background-image: url(/public/[3]woods.png);
}
.forest {
  background-image: url(/public/[4]forest.png);
}
.tundra {
  background-image: url(/public/[5]tundra.png);
}
.taiga {
  background-image: url(/public/[6]taiga.png);
}
.water {
  /* background-color: var(--water-color); */
  background-image: url(/public/water.png);
}
.start {
  /* background-color: var(--td-bg-color); */
  background-image: url(/public/start.png);
}
.end {
  /* background-color: var(--td-bg-color); */
  background-image: url(/public/end.png);
}

@keyframes sample {
  from {
    background-color: var(--visited-initial);
  }
  to {
    background-color: var(--visited-final);
  }
}

/* statuses */
.visited {
  background-color: var(--visited-final);
  background-blend-mode: overlay;
  animation-name: sample;
  animation-duration: 2s;
  /* background: orange; */
}

.start.visited {
  background-color: var(--visited-final);
  background-blend-mode: overlay;
  animation-name: sample;
  /* background-color: #00B383;
  background-color: #00B0E6; */
}
.end.visited {
  background-color: var(--visited-final);
  background-blend-mode: overlay;
  animation-name: sample;
  /* background-color: #00B383;
  background-color: #00B0E6; */
}
.water.visited {
  background-color: var(--water-color);
}

.shortestPath {
  background-color: var(--shortest-Path);
  background-blend-mode: overlay;
}
.start.shortestPath {
  background-color: var(--shortest-Path);
  background-blend-mode: overlay;
}
.end.shortestPath {
  background-color: var(--shortest-Path);
  background-blend-mode: overlay;
}
.water.shortestPath {
  background-color: var(--water-color);
  background-blend-mode: overlay;
}

/* GridKey Component */
.gridKey {
  display: flex;
  justify-content: space-evenly;
}

.keyitem {
  display: flex;
  justify-content: center;
  align-items: center;
}

#startKey {
  background-image: url(/public/start_key.png);
}

#endKey {
  background-image: url(/public/end_key.png);
}

#visitedKey {
  background-color: var(--visited-final);
}

#shortestPathKey {
  background-color: var(--shortest-Path);
}

.keyitem h3 {
  font-size: 1rem;
}

.keybox {
  height: 25px;
  width: 25px;
  border: 1px solid var(--table-bg-color);
  margin-right: 1rem;
}

.playPause {
  color: var(--water-color);
  margin: 1rem;
}

.playPause:hover {
  color: var(--hover-buttons);
}

.controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
